body {
    display: flex;
justify-content: center;
    background: url(images/sky02.png)no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

html {
    padding-top: 5vh;
}

.error{
    border: 5px  solid red;
}